<!DOCTYPE html>

<html>

<head>
    <title>Idaho Wildfire - Predict Fire Class</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""></script> -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <link rel="stylesheet" href="../static/css/style.css">
   
  
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Idaho Wildfire Information</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/calc_fires">Predict Fire Size</a>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calc_fires2">Idaho Info
          </a>
        </li>
      </ul>
    </div>
  </nav>

  
  <div class="row">
    <div class="col-md-4 offset-md-1">
        <br>
        <h3>Wildfires: Predict Fire Size</h3>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4 offset-md-1">
          <h3><b>Fire Size:  {{result}}</b></h3>
      </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <div id="map" ></div>
    </div>

    <div class="col-md-4 offset-md-1">
      <div id="bar">
        <form method=post enctype=multipart/form-data>
          <label for="County">County:</label>
          <select id="County" name="County" onchange="optionChanged()"></select><br>
          <label for="DISCOVERY_MONTH_CONVERTED">Month:</label>
          <select id="DISCOVERY_MONTH_CONVERTED" name="DISCOVERY_MONTH_CONVERTED">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
            <option value=11>11</option>
            <option value=12>12</option>
          </select><br>
          <label for="D0">Drought-Abnormally Dry (0-100):</label>
          <input type="text" id="D0" name="D0"><br>
          <label for="D1">Drought-Moderate Drought (0-100):</label>
          <input type="text" id="D1" name="D1"><br>
          <label for="D2">Drought-Severe Drought (0-100):</label>
          <input type="text" id="D2" name="D2"><br>
          <label for="D3">Drought-Extreme Drought (0-100):</label>
          <input type="text" id="D3" name="D3"><br>
          <label for="D4">Drought-Exceptional Drought (0-100):</label>
          <input type="text" id="D4" name="D4"><br>
          <label for="DAY_PRCP_1">Precipitation (0-40)</label>
          <input type="text" id="DAY_PRCP_1" name="DAY_PRCP_1"><br>
          <label for="DAY_PRCP_2">Precipitation (0-40)</label>
          <input type="text" id="DAY_PRCP_2" name="DAY_PRCP_2"><br>
          <label for="DAY_PRCP_3">Precipitation (0-40)</label>
          <input type="text" id="DAY_PRCP_3" name="DAY_PRCP_3"><br>
          <label for="DAY_PRCP_4">Precipitation (0-40)</label>
          <input type="text" id="DAY_PRCP_4" name="DAY_PRCP_4"><br>
          <label for="DAY_AVG_TEMP_1">Temperature 1 (0-120)</label>
          <input type="text" id="DAY_AVG_TEMP_1" name="DAY_AVG_TEMP_1"><br>
          <label for="DAY_AVG_TEMP_2">Temperature 2 (0-120)</label>
          <input type="text" id="DAY_AVG_TEMP_2" name="DAY_AVG_TEMP_2"><br>
          <label for="DAY_AVG_TEMP_3">Temperature 3 (0-120)</label>
          <input type="text" id="DAY_AVG_TEMP_3" name="DAY_AVG_TEMP_3"><br>
          <label for="DAY_AVG_TEMP_4">Temperature 4 (0-120)</label>
          <input type="text" id="DAY_AVG_TEMP_4" name="DAY_AVG_TEMP_4"><br>
          <input type=submit value=Submit>
        </form>
      </div>
      <br>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="card col-md-3">
      <div id="canvasBarChart">
          <canvas id="myBarChart"></canvas>
      </div>
    </div>
    <div class="card col-md-3 ">
      <div id="canvasBarChart2">
          <canvas id="myBarChart2"></canvas>
      </div>
    </div>
    <div class="card col-md-3 ">
      <div id="canvasBarChart3">
          <canvas id="myBarChart3"></canvas>
      </div>
    </div>
    <div class="card col-md-3 ">
      <div id="canvasBarChart4">
          <canvas id="myBarChart4"></canvas>
      </div>
    </div>
  </div>
      
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- <script type="text/javascript" src="../static/js/us_counties_20m.js"></script> -->
  <script type="text/javascript" src="../static/js/Idaho_Counties.js"></script>
  <script src="../static/js/county.js"></script>

</body>

</html>