<!DOCTYPE html>

<html>

<head>
    <title>Idaho Wildfire and Demographic Information</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""></script> -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>    
    <link rel="stylesheet" href="../static/css/style.css">
   
  
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Idaho Wildfire Information</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calc_fires">Predict Fire Size</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/calc_fires2">Idaho Info
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <br><br>
  <div class="row">
    <div class="col-md-4 offset-md-1">
        <h3>Wildfires</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 offset-md-1">
      <div class='tableauPlaceholder' id='viz1611469542182' style='position: relative'>
        <noscript>
          <a href='#'>
            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ID&#47;ID_weather_fire_20210123_1253&#47;Map_Nmbr_Frs&#47;1_rss.png' style='border: none' />
          </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
          <param name='embed_code_version' value='3' /> 
          <param name='site_root' value='' />
          <param name='name' value='ID_weather_fire_20210123_1253&#47;Map_Nmbr_Frs' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='no' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ID&#47;ID_weather_fire_20210123_1253&#47;Map_Nmbr_Frs&#47;1.png' /> 
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en' />
          <param name='filter' value='publish=yes' />
        </object>
      </div>                
    </div>
    <div class="col-md-5">
      <div class='tableauPlaceholder' id='viz1611512493908' style='position: relative'>
        <noscript>
          <a href='#'>
            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ID&#47;ID_weather_fire_20210123_1253&#47;Chrt_Nmbr_Frs&#47;1_rss.png' style='border: none' />
          </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
          <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
          <param name='name' value='ID_weather_fire_20210123_1253&#47;Chrt_Nmbr_Frs' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='no' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ID&#47;ID_weather_fire_20210123_1253&#47;Chrt_Nmbr_Frs&#47;1.png' /> <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
          <param name='language' value='en' />
        </object>
      </div>   
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 offset-md-1">
        <h3>Average Precipitation</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <div class='tableauPlaceholder' id='viz1611514408867' style='position: relative'><noscript><a href='#'><img alt=' ' 
        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;8J&#47;8JY5S23D2&#47;1_rss.png' style='border: none' /></a>
      </noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;8JY5S23D2' /> <param name='toolbar' value='no' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;8J&#47;8JY5S23D2&#47;1.png' /> 
        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>                        
    </div>
    <div class="col-md-5">
      <div class='tableauPlaceholder' id='viz1611514824477' style='position: relative'><noscript><a href='#'><img alt=' ' 
        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ID&#47;ID_weather_fire_20210123_1253&#47;Chrt_Avg_Prcp&#47;1_rss.png' style='border: none' />
      </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
        <param name='name' value='ID_weather_fire_20210123_1253&#47;Chrt_Avg_Prcp' /><param name='tabs' value='no' /><param name='toolbar' value='no' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ID&#47;ID_weather_fire_20210123_1253&#47;Chrt_Avg_Prcp&#47;1.png' /> 
        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 offset-md-1">
        <h3>Average Temperature</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <div class='tableauPlaceholder' id='viz1611515116970' style='position: relative'><noscript><a href='#'><img alt=' ' 
        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ID&#47;ID_weather_fire_20210123_1253&#47;Map_Avg_Temp&#47;1_rss.png' style='border: none' /></a>
      </noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' />
         <param name='site_root' value='' /><param name='name' value='ID_weather_fire_20210123_1253&#47;Map_Avg_Temp' /><param name='tabs' value='no' />
         <param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ID&#47;ID_weather_fire_20210123_1253&#47;Map_Avg_Temp&#47;1.png' /> 
         <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
         <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>
    </div>
    <div class="col-md-5">
      <div class='tableauPlaceholder' id='viz1611515336588' style='position: relative'><noscript><a href='#'><img alt=' ' 
        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ID&#47;ID_weather_fire_20210123_1253&#47;Chrt_Avg_Temp&#47;1_rss.png' style='border: none' /></a>
      </noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='' /><param name='name' value='ID_weather_fire_20210123_1253&#47;Chrt_Avg_Temp' /><param name='tabs' value='no' />
        <param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ID&#47;ID_weather_fire_20210123_1253&#47;Chrt_Avg_Temp&#47;1.png' />
        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>
    </div>
  </div>
      
  <script type="text/javascript" src="../static/js/config.js"></script>
  <script type="text/javascript" src="../static/js/Idaho_Counties.js"></script>
  <script src="../static/js/viz.js"></script>

</body>

</html>